<!DOCTYPE html>
<html>
<head>
  <title>Jewelry Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
  <header class="nav-header">
    <h1 class="title-font">Jewlery Box</h1>
      <ul class="nav-header-descripiton">
        <%= link_to 'Explore' %>
        <%= link_to 'About' %>
        <a href="/" class="logo"><%= image_tag("icons8-diamond-100.png", alt: "Home") %></a>
        <%- if current_user -%>
          <%= link_to 'My Profile' %>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%- else -%>
          <%= link_to 'Sign Up', new_user_registration_path %>
          <%= link_to 'Sign In', new_user_session_path %>
        <%- end -%>
      </ul>
  </header>
  
<body class="body-bg">

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
