<!DOCTYPE html>
<html>
<head>
  <title>Jewelry Box</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="portfolio-hero-header">
  <img class="portfolio-hero-header-logo" src="https://placehold.it/200"/>
  <h1 class="portfolio-hero-header-h1">My Portfolio</h1>
  <ul class="portfolio-hero-header-description">
    <li>Portfolio Example</li>
    <li>Super Clean</li>
    <li>Super Simple</li>
  </ul>
  <ul class="portfolio-hero-header-menu">
    <li><a class="button primary" href="#">Link 1</a></li>
    <li><a class="button primary" href="#">Link 2</a></li>
    <li><a class="button primary" href="#">Link 3</a></li>
  </ul>
</header>
  


  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
